{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Flutter Web",
      "type": "dart",
      "request": "launch",
      "flutterMode": "debug",
      "program": "lib/main.dart",
      "args": [
        "-d",
        "web-server",
        "--web-port",
        "5050"
      ]
    },
    {
      "name": "Flutter Mobile",
      "type": "dart",
      "request": "launch",
      "flutterMode": "debug",
      "program": "lib/main.dart"
    }
  ]
}
