---
name: Test TypeScript
on:
  pull_request:
    branches:
      - main
    paths:
      - "frontend-react-zustand/**"
permissions: {}
jobs:
  test:
    strategy:
      matrix:
        workdir:
          - frontend-react-zustand
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: npm
          cache-dependency-path: ${{ matrix.workdir }}/package-lock.json

      - run: npm ci
        working-directory: ${{ matrix.workdir }}

      - run: npm run test:coverage
        working-directory: ${{ matrix.workdir }}
